<html>
<head>
<title>Tune your violin!</title>

<p>
<%=form_tag "/string/contat" do %>
<%=radio_button_tag: string_type, 'A-string' %>
<%=radio_button_tag: string_type, 'A-string' %>
<%=radio_button_tag: string_type, 'A-string' %>
<%=radio_button_tag: string_type, 'A-string' %>
